<%- include('includes/header') %>


  <div class="home-container">
    <div class="home">
      <a href="/login">Login</a>
      <a href="/registerPage">Sign Up</a>
    </div>
  </div>
  </body>

  </html>
  <%- include('includes/end') %>