<%- include('includes/header')%>

    <div class="container">
        <form action="/login" method="post">
            <div class="inputs">
                <div>
                    <label for="userMail">user name</label>
                    <input type="text" name="userMail" id="userMail" placeholder="Your Email please" required>
                </div>
                <div>
                    <label for="userPhone">password</label>
                    <input type="password" name="userPhone" id="userPhone" placeholder="Enter your Phone number"
                        required>
                </div>
            </div>
            <button type="submit" class="submit">Login</button>
        </form>
    </div>

    <%- include('includes/end') %>